<!DOCTYPE html>
<html lang="pt-ao">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="template/css/estilo.css">
    <title>Home</title>
</head>
<body>
    <header>
        <h2>MARKTPLACE<sup style="font-size: 12px;">ADM</sup></h2>
        <form action="">
            <input type="text">
            <button>Pesquisar</button>
        </form>
        <nav>
            <ul>
                <li>home</li>
                <li>produtos</li>
                <li>lojas</li>
                <li>usuarios</li>
            </ul>
        </nav>
    </header>

    <section>
        {{area_dinamica}}
    </section>

    <footer>
        <p>Central de controlo de dados do marketplace</p>
    </footer>
</body>
</html>