<h1>Formulário de cadastramento de usúario</h3>
<form style="width: 400px;border: 1px solid #ccc;" action="" method="post">
    <label for="nome">nome</label>
    <input type="text" name="nome">
    <hr>

    <label for="sobrenome">sobrenome</label>
    <input type="text" name="sobrenome">
    <hr>

    <label for="data">nome</label>
    <input type="date" name="data">
    <hr>

    <label for="numero">número de telemovel</label>
    <input type="text" name="numero">
    <hr>

    <label for="mail">e-mail</label>
    <input type="mail" name="mail">
    <hr>

    <button>cadastrar</button>
</form>