<h1>Formulário de cadastramento de usúario</h3>
<form style="width: 400px;border: 1px solid #ccc;" action="?pagina=cadastrarUsuario" method="post">
    <label for="nome">nome</label>
    <input type="text" name="nome">
    <hr>

    <label for="sobrenome">sobrenome</label>
    <input type="text" name="sobrenome">
    <hr>

    <label for="data">data de nascimento</label>
    <input type="date" name="niver">
    <hr>

    <label for="numero">número de telemovel</label>
    <input type="text" name="numero">
    <hr>

    <label for="mail">e-mail</label>
    <input type="mail" name="mail">
    <hr>

    <label for="senha">senha</label>
    <input type="texto" name="senha">
    <hr>

    <label for="confirmaSenha">Confirma a senha</label>
    <input type="password" name="confirmaSenha">
    <hr>

    <button>cadastrar</button>
</form>